---
import Layout from "@/layouts/Layout.astro";
import { backToLogin, notFound } from "@/components/helper";
import EditForm from "./_edit.tsx";
import FormNavbar from "@/components/editor/FormNavbar.tsx";
import query from "@/lib/query.ts";
import { getTeam } from "@/lib/auth";
import Admin from "@/layouts/Admin.astro";

const { view: viewId } = Astro.params;

if (!viewId) {
  return notFound();
}

const teamId = await getTeam(Astro.request);
if (!teamId) {
  return backToLogin();
}

const view = await query.getViewById(viewId);
if (!view || view.teamId != teamId) {
  return notFound();
}
---

<Admin title="Edit Form.">
  <div class="p-5">
    <FormNavbar page="edit" />
    <EditForm client:only="react" value={view} />
  </div>
</Admin>
