---
import { Form, Format, db, eq, and } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import { getTeam } from "@/components/model";
import { backTo, backToLogin, notFound } from "@/components/helper";
import FormNavbar from "@/components/editor/FormNavbar.tsx";
import { ulid } from "ulid";
import * as query from "@/api/query";
import { Button } from "@/components/ui/button";

const team = await getTeam(Astro.request);
if (!team) {
  return backToLogin();
}

const { form: formId } = Astro.params;

const teamId = await getTeam(Astro.request);
if (!teamId) {
  return backToLogin();
}

if (!formId) {
  return notFound();
}

const form = await query.getFormById(formId);
if (!form || form.teamId != teamId) {
  return notFound();
}

if (Astro.request.method === "DELETE") {
  await db.delete(Format).where(eq(Format.formId, formId));
  return "";
} else if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const id = ulid();
  await db.insert(Format).values({
    formId,
    privilenge: form.privilenge,
    schema: {},
    teamId: form.teamId,
    title: "Create New Format " + data.get("type")?.toString(),
    type: data.get("type")?.toString() || "",
    id,
  });
  return backTo(`/view/${id}/edit`);
}

const formatList = await db
  .select()
  .from(Format)
  .where(eq(Format.formId, formId));
---

<Layout title="Entries.">
  <FormNavbar page="formats" />
  <div class="container my-5">
    <div class="my-3">
      <form method="post">
        Create New :
        <Button variant="secondary" name="type" value="json"> JSON </Button>
        <Button variant="secondary" name="type" value="text"> TEXT </Button>
        <Button variant="secondary" name="type" value="html"> HTML </Button>
        <Button variant="secondary" name="type" value="pdf"> PDF </Button>
      </form>
    </div>
    <div class="list-group">
      {
        formatList.map((format) => (
          <a
            href={`/format/${format.id}/edit`}
            class="list-group-item list-group-item-action"
          >
            {format.title} <span class="badge">{format.type}</span>
          </a>
        ))
      }
    </div>

    <div class="alert alert-info my-3">
      To Use Format, go Entries and open an entry, then click one of the
      formats.
    </div>
  </div>
</Layout>
