---
import { Form, Format, db, eq, and } from "astro:db";
import Layout from "../../../layouts/Layout.astro";
import { getTeam } from "../../../model";
import { backTo, backToLogin, notFound } from "../../../helper";
import { desc } from "astro:db";
import FormNavbar from "../../../components/editor/FormNavbar.astro";
import { ulid } from "ulid";
const team = await getTeam(Astro.request);
if (!team) {
  return backToLogin();
}

const { form: formId } = Astro.params;

const teamId = await getTeam(Astro.request);
if (!teamId) {
  return backToLogin();
}

if (!formId) {
  return notFound();
}

const formList = await db
  .select()
  .from(Form)
  .where(and(eq(Form.id, formId), eq(Form.teamId, teamId)))
  .orderBy(desc(Form.id));
if (formList.length === 0) {
  return notFound();
}

if (Astro.request.method === "DELETE") {
  await db.delete(Format).where(eq(Format.formId, formId));
  return "";
} else if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const id = ulid();
  await db.insert(Format).values({
    formId,
    privilenge: formList[0].privilenge,
    schema: {},
    teamId: formList[0].teamId,
    title: "Create New Format " + data.get("type")?.toString(),
    type: data.get("type")?.toString() || "",
    id,
  });
  return backTo(`/view/${id}/edit`);
}

const formatList = await db
  .select()
  .from(Format)
  .where(eq(Format.formId, formId));
---

<Layout title="Entries.">
  <div class="container my-5" style="max-width: 800px;">
    <FormNavbar />
    <div class="container my-5">
      <div class="my-3">
        <form method="post">
          Create New :
          <button class="btn btn-success" name="type" value="json">
            JSON
          </button>
          <button class="btn btn-success" name="type" value="text">
            TEXT
          </button>
          <button class="btn btn-success" name="type" value="html">
            HTML
          </button>
          <button class="btn btn-success" name="type" value="pdf"> PDF </button>
        </form>
      </div>
      <div class="list-group">
        {
          formatList.map((format) => (
            <a
              href={`/format/${format.id}/edit`}
              class="list-group-item list-group-item-action"
            >
              {format.title} <div class="badge bg-primary">{format.type}</div>
            </a>
          ))
        }
      </div>

      <div class="alert alert-info my-3">
        To Use Format, go Entries and open an entry, then click one of the formats.
      </div>
    </div>
  </div>
</Layout>
