---
import Layout from "@layouts/Layout.astro";
---

<Layout title="View Form">
  <div class="container my-5" style="max-width: 800px;">
    <div class="alert alert-primary">Your form has ben submitted</div>
    <a href="./view" class="btn btn-secondary">Fill Again</a>
  </div>
</Layout>
