---
import Layout from "../../../layouts/Layout.astro";
import FormScript from "../../../components/editor/FormScript.astro";

const { form: formID } = Astro.params;

import { Form, db, eq } from "astro:db";
import Group from "../../../components/control/Group.astro";

const formList = await db.select().from(Form).where(eq(Form.id, formID));
if (formList.length === 0) {
    return notFound();
}
const form = formList[0];
---

<Layout title="Welcome to Astro.">
    <div class="container">
        <a class="btn btn-warning" href="./edit">Edit</a>
        <div class="my-5">
            <h1 class="display-4">{form.title}</h1>
            <Group control={{ children: form.schema }} />
        </div>
    </div>
</Layout>

<FormScript />
