---
import Layout from "@/layouts/Layout.astro";

const { form: formId } = Astro.params;

import { backToLogin, notFound } from "@/components/helper";
import FormNavbar from "@/components/editor/FormNavbar.tsx";
import ViewForm from "./_view.tsx";
import query from "@/lib/query.ts";
import { getTeam } from "@/lib/auth";

if (!formId) {
  return notFound();
}

const teamId = await getTeam(Astro.request);

const form = await query.getFormById(formId);
if (!form) {
  return notFound();
}

if (form.privilenge !== "public") {
  if (teamId && form.teamId != teamId) {
    return notFound();
  } else {
    return backToLogin();
  }
}
---

<Layout title="View Form">
  {teamId && <FormNavbar page="view" />}
  <div class="my-5">
    <h1 class="text-2xl mb-5">{form.title}</h1>
    <ViewForm client:load schema={form.schema} id={form.id} value={{}} />
  </div>
</Layout>
