---
var page = Astro.url.pathname.split("/").findLast(() => true);
---

<div class="d-flex gap-1">
  <a class="btn btn-secondary" href="/form">Back</a>
  <a
    class:list={["btn btn-outline-primary", { active: page === "view" }]}
    href="./view">Preview</a
  >
  <a
    class:list={["btn btn-outline-primary", { active: page === "entries" }]}
    href="./entries">Entries</a
  >
  <a
    class:list={["btn btn-outline-primary", { active: page === "views" }]}
    href="./views">Views</a
  >
  <a
    class:list={["btn btn-outline-primary", { active: page === "hooks" }]}
    href="./hooks">Hooks</a
  >
</div>
