---
import Layout from "@/layouts/Layout.astro";
import { getTeam } from "@/components/model";
const team = await getTeam(Astro.request);
---

<Layout title="Welcome to Astro.">
  <div class="container my-5 text-center" style="max-width: 800px;">
    <div class="navbar gap-3">
      <span class="flex-grow-1"></span>
      {!team && <a href="/auth/login">Login</a>}
      {
        team && (
          <a class="btn btn-link" href="/logout">
            Logout
          </a>
        )
      }
      {team && <a href="/form">Form List</a>}
      <span class="flex-grow-1"></span>
    </div>

    <h1 class="my-5">One Form rules them all</h1>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2>Nested Form</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2>API Hooks</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2>Export as CSV</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5">
      {
        !team && (
          <a href="/auth/register" class="btn btn-primary btn-lg">
            Get Started For Free
          </a>
        )
      }
    </div>
  </div>
</Layout>
