---
import { Team, Form, db, eq } from "astro:db";
import Layout from "../layouts/Layout.astro";
import { getTeam } from "../model";
import { backToLogin } from "../helper";
const team = await getTeam(Astro.request);
if (!team) {
    return backToLogin();
}
const formList = await db.select().from(Form).where(eq(Form.teamId, team));
---

<Layout title="Welcome to Astro.">
    {formList.map((form) => <a href={`/form/${form.id}/edit`}>{form.title}</a>)}
</Layout>
