---
import Layout from "../layouts/Layout.astro";
import { User, UserAuth, and, db, eq } from "astro:db";
import { compare } from "bcrypt";
import jwt from "jsonwebtoken";

let err = null;

if (Astro.request.method === "POST") {
	const response = Object.fromEntries(await Astro.request.formData());
	let q = await db
		.select()
		.from(User)
		.where(eq(User.email, response.email.toString()));

	if (q.length > 0) {
		let qa = await db
			.select()
			.from(UserAuth)
			.where(
				and(
					...[
						eq(UserAuth.type, "email"),
						eq(UserAuth.userId, q[0].id),
					],
				),
			);
		if (qa.length > 0) {
			if (await compare(response.password.toString(), qa[0].identifier)) {
				let token = await new Promise((resolve, reject) => {
					jwt.sign({ user: q[0].id }, "secret", {}, (err, token) => {
						if (err) reject(err);
						resolve(token);
					});
				});

				return new Response(null, {
					status: 302,
					headers: {
						"set-cookie": `jwt=${token}; HttpOnly`,
						location: "/",
					},
				});
			}
		}
	}
	err = "try again";
}
---

<Layout title="Login">
	<div class="container">
		<div class="login-container">
			<h2 class="text-center">Login</h2>
			{err && <div class="alert alert-danger">{err}</div>}
			<form id="form" name="form" method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Email address</label>
					<input
						type="email"
						class="form-control"
						name="email"
						aria-describedby="emailHelp"
						required
					/>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input
						type="password"
						class="form-control"
						name="password"
						required
					/>
				</div>
				<div class="mb-3 form-check">
					<input
						type="checkbox"
						class="form-check-input"
						id="rememberMe"
					/>
					<label class="form-check-label" for="rememberMe"
						>Remember me</label
					>
				</div>
				<button type="submit" class="btn btn-primary w-100"
					>Login</button
				>
			</form>
		</div>
	</div>
</Layout>
