---
import { db, User, UserAuth } from "astro:db";
import { ulid } from "ulid";
import { encryptPW } from "@/components/helper";
import Layout from "@/layouts/Layout.astro";
import { Team } from "astro:db";

if (Astro.request.method === "POST") {
  const response = await Astro.request.formData();
  const uid = ulid();
  await db.insert(User).values({
    id: uid,
    name: response.get("name")?.toString() || "",
    email: response.get("email")?.toString() || "",
  });

  const identifier = await encryptPW(
    response.get("password")?.toString() || "",
  );
  await db.insert(UserAuth).values({
    id: ulid(),
    identifier,
    type: "email",
    userId: uid,
  });

  await db.insert(Team).values({
    id: ulid(),
    userId: uid,
  });

  return new Response("", {
    status: 302,
    headers: {
      location: "/login?status=ok",
    },
  });
}
---

<Layout title="Register">
  <div class="container">
    <div class="login-container">
      <h2 class="text-center">Register</h2>
      <form method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
      <a href="/login" class="btn btn-link">Login Instead</a>
    </div>
  </div>
</Layout>
