---
import { ulid } from "ulid";
const { control, value } = Astro.props;
const id = ulid();
---

<label for={id} class="form-label">{control.label}</label>
<input type="number" class="form-control" id={id} value={value[control.id]} />
