---
import Layout from "../../layouts/Layout.astro";
import { unflatten } from "flat";
import { db, Form } from "astro:db";
import { getTeam } from "@/components/model";
import { ulid } from "ulid";
import { backToLogin } from "@/components/helper";
import NewForm from "./_new";

const team = await getTeam(Astro.request);
if (!team) {
  return backToLogin();
}

if (Astro.request.method === "POST") {
  const response = await Astro.request.formData();
  const values: any = unflatten(Object.fromEntries(response));
  const id = ulid();
  await db.insert(Form).values({
    ...values,
    id,
    teamId: team,
  });

  return new Response("", {
    status: 302,
    headers: {
      location: `/form/${id}/edit`,
    },
  });
}
---

<Layout title="Welcome to Astro.">
  <a class="btn btn-secondary" href="/form">Back</a>
  <NewForm client:only="react" value={{}} />
</Layout>
